<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>BeerCellar</title>
    <link rel="stylesheet" type="text/css" href="../Content/css/beerCellar.css" />
</head>
<body ng-app="beerCellarModule">
    <h1>
        BeerCellar
    </h1>
    <div ng-controller="beerCellarController">
        <div>
            <strong>Here's what's in my cellar</strong>
        </div>
        <div>
            <div class="left column-header">Brewery</div>
            <div class="left column-header">Beer</div>
            <div class="left column-header">Count</div>
            <div class="clear"></div>
            <hr />
        </div>
        <div ng-repeat="beer in myBeers">
            <div class="left column-header">{{beer.breweryName}}</div>
            <div class="left column-header">{{beer.beerName}}</div>
            <div class="left column-header">{{beer.count}}</div>
            <div class="clear"></div>
        </div>
    </div>

    <script src="../lib/angular.js"></script>
    <script src="../Modules/beerCellarModule.js"></script>
    <script src="../Controllers/beerCellarController.js"></script>
</body>
</html>
