@color-charcoal: #25261E;
@color-gold: #BF9004;
@color-bronze: #A66D03;
@color-tan: #A69576;
@color-white: #F2F2F2;

.font-BebasNeue(){ font-family: 'BebasNeueRegular', Helvetica, Arial, sans-serif; }
.font-LeagueGothic(){ font-family: 'LeagueGothicRegular', Helvetica, Arial, sans-serif; letter-spacing: 1px; }

.text-center(){ text-align: center; }
.auto-center(){ display: block; margin: 0 auto; }

.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;
}

h1{
    color: @color-charcoal;
    font-weight: normal;
    .font-BebasNeue;
    font-size: 40px;
    margin-bottom: 20px;
}

h2{
    color: @color-bronze;
    font-weight: normal;
    .font-LeagueGothic;
}

h6{
    color: @color-bronze;
    font-weight: normal;
    .font-BebasNeue;
    font-size: 23px;
    margin: 0;
}

h5{
    font-weight: normal;
    color: @color-bronze;
    .font-LeagueGothic;
    font-size: 28px;
    margin: 0;
}

a {
    font-family: 'BebasNeueRegular';
    color: #25261E;
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        border-bottom: 2px solid @color-charcoal;
    }
}

input{
    padding: 5px 10px;
    border: 1px solid @color-charcoal;
    .font-LeagueGothic();
    font-size: 24px;
}

hr{
    border-bottom: 5px solid @color-charcoal;
    margin: 0 0 10px;
}

label{
    color: @color-bronze;
    font-weight: normal;
    .font-BebasNeue;
    font-size: 23px;
    margin: 0;
    display: block;
}

.content{
    width: 1024px;
    margin: 0px auto;
}

.bronze{
    color: @color-bronze;
}

.header-divider{
    height: 11px;
    width: 100%;
    background: url('../images/subtle_grunge.png');
    border-bottom: 8px solid @color-charcoal;
}

.up-down{
    display: inline;
    float: right; 

    button{
        background: url('../images/up-down.png')no-repeat;
        width: 17px;
        height: 9px;
        border: none;
        display: block;
    }

    .up{
        margin-bottom: 7px;
    }
    
    .down{
        background-position: 0px -15px;
    }
}

body {
    background: url('../images/subtle_grunge.png');

    .left {
        float: left;
    }

    .clear {
        clear: both;
    }

    .column-header {
        width: 487px;
        text-align: left;

        &.qnty {
            width: 50px;
        }
    }

    .row{
        margin: 10px 0;
    }
}

#header{
    background-color: @color-charcoal;
    background-image: url('../images/bottles-bg.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    padding: 20px 0;

    .logo{
        width: 171px;
        height: 166px;
        .auto-center;
    }

    .tagline{
        font-size: 30px;
        .text-center;
    }
}

#mainContainer{
    padding: 20px 0;
}

#searchBox{
    background: url('../images/search-icon.png')no-repeat 10px center;
    background-color: @color-white;
    color: @color-charcoal;
    display: block;
    width: 515px;
    height: 45px;
    border: 5px solid @color-tan;
    .inner-shadow (2px, 2px, 6px, 1px, 0.6);
    .border-radius (5px);
    padding: 5px 0 0 65px;
    font-size: 26px;
    .font-LeagueGothic();
    margin: 55px auto 35px;
}

.add-link{
    float: right;
}

.input-section{
    float: left;
    margin-right: 30px;
}

.pagination{
    float: right;
    margin: 20px 0;
    .font-BebasNeue();
    font-size: 25px;

    button{
        border: none;
        background: none;
        font-weight: bold;
    }
}

